.movieCard {
  list-style-type: none;
  font-size: 1.5rem;
}
.movieCard:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.movieImage {
  border-radius: 10px;
  background-color: azure;
  width: 230px;
  height: 345px;
}